@model Tchat.Core.Models.Private_message

@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Private_message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.date_message, new { @Value = System.DateTime.Now.ToString() })

        @Html.HiddenFor(model => model.id_sender, htmlAttributes: new { @Value = Session["ID"] })


        <div class="form-group">
            @Html.LabelFor(model => model.id_recepient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_recepient, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_recepient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!-- /.card-header -->
<div class="card-body pad">
    <div class="mb-3">
        <textarea class="textarea" placeholder="Place some text here"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
    <p class="text-sm mb-0">
        Editor <a href="https://github.com/summernote/summernote">
            Documentation and license
            information.
        </a>
    </p>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
