@model IEnumerable<Projet_tchat.Models.ContactVM>

@{
    ViewBag.Title = "Index";
}


<div class="container">




    @foreach (var item in Model)
    {
        <div class="col-sm-12" id="personne">

            @if (item.userID != (int)Session["ID"])
            {



                <a href="@Url.Action("MesMessages", new { id=item.userID})" class="text-secondary">

                    @Html.DisplayFor(modelItem => item.prenom)
                    @Html.DisplayFor(modelItem => item.nom)


                </a>

                if (item.message != null)
                {
                    if (item.message.id_sender == (int)Session["ID"])
                    {
                        <div>
                            Vous :      @Html.DisplayFor(modelItem => item.message.content)

                        </div>

                    }
                    else
                    {
                        <div>
                            @Html.DisplayFor(modelItem => item.prenom)  :  @Html.DisplayFor(modelItem => item.message.content)
                        </div>

                    }


                }
                else
                {
                    <div>
                        Aucun message
                    </div>
                }














            }

        </div>
        if (item.userID != (int)Session["ID"])
        {
            <br />
        }


        }



    </div>
