@model IEnumerable<Tchat.Core.DTO.MessageDTO>
@{
    ViewBag.Title = "MesMessages";
}
<h2>MesMessages</h2>
<div class="container">

    @foreach (var item in Model)
    {
        if ((int)Session["ID"] == item.id_sender)
        {
            <div id="envoyer" class="alert alert-primary col-lg-5">

                @Html.DisplayFor(modelItem => item.nom)

                @Html.DisplayFor(modelItem => item.prenom)

                @Html.DisplayFor(modelItem => item.content)


            </div> <br /><br /><br />

        }

        else
        {<div id="reception" class="alert alert-danger col-lg-5">

                @Html.DisplayFor(modelItem => item.nom)

                @Html.DisplayFor(modelItem => item.prenom)

                @Html.DisplayFor(modelItem => item.content)


            </div><br /><br /><br />

        }

    }
    @Html.ActionLink("Create New", "Create")
</div>
