@model Tchat.Core.Models.Private_message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Private_message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recepient.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepient.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.name_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.name_room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_private_message }) |
    @Html.ActionLink("Back to List", "Index")
</p>
