@model IEnumerable<Tchat.Core.Models.Private_message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recepient.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.name_room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sender.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_recepient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recepient.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.name_room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sender.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_recepient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.private_messageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.private_messageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.private_messageID })
        </td>
    </tr>
}

</table>
