@model Tchat.Core.Models.Participants

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participants</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room.name_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.name_room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.participantsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
