@model IEnumerable<Projet_tchat.Models.PostVM>
@{ ViewBag.Title = "Index"; }

<h2>Tous les Posts</h2>
@foreach (var item in Model)
{
<div class="container" id="div_mesposts">


    <font face="Andale Mono">  @Html.DisplayFor(modelItem => item.nom) @Html.DisplayFor(modelItem => item.prenom)  </font> <font face="Andale Mono" size="2" color="grey">@Html.DisplayFor(modelItem => item.date_create)</font>
    <div class="col-sm-12 MEFPOST">


    </div>
    @Html.DisplayFor(modelItem => item.Comments)

    <div class="form-row" id="@item.PostID">
        <div id="contenu_comment" class="form-group col-md-11">
            <textarea  class="form-control" id="ta">  </textarea>

        </div>
        <div class="col">
            <input type="submit" value="Envoyer" class="btn btn-primary mb-2 fairecom" id="@item.PostID" />
        </div>

    </div>






</div>
                <br />
                                <br />}
