@model IEnumerable<Projet_tchat.Models.PostVM>
@{
    ViewBag.Title = "MesPosts";
}




<h2>Mes Posts</h2>



@foreach (var item in Model)
{
<div class="container" id="div_mesposts">


    <font face="Andale Mono">  @Html.DisplayFor(modelItem => item.nom) @Html.DisplayFor(modelItem => item.prenom) </font> <font face="Andale Mono" size="2" color="grey">@Html.DisplayFor(modelItem => item.date_create)</font>
    <a href="@Url.Action("Index", "Categories")">  <div id="modif_post"><a href="@Url.Action("Edit", "Post", new { id=item.PostID })"><i class="fas fa-pencil-square-o" ></i></a></div>
    <div class="col-sm-12">

        @Html.DisplayFor(modelItem => item.content)


    </div>  
    <div id="modif_post"><a href="@Url.Action("Delete", "Post", new { id=item.PostID })"><i class="icon-close"></i> Supprimer </a></div>
    <br/>
    
    <div id="jaimepost">
        @Html.DisplayFor(modelItem => item.nb_like)
    </div>
     
    
    <button type="button" class="btn btn-primary btn-xs jaime" id="@item.PostID"><i class="fas fa-thumbs-up"> J'aime </i></button>
    <br/>
   
    @Html.DisplayFor(modelItem => item.Comments)

  

</div>
    <br />
    <br />
}



